
@base-color: #1C0772;
@button-background-color: #E4F1FE;
@holiday-color: #FFC3C3;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
  font-family: Rubik;
  font-size: 22px;
  //background-color: #2196f3;
}

.data-input {
  font-size:  0.7rem;
  height: 2rem;
}
